:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


body {
  --text: #2b73ff;
  --bg:rgba(255, 255, 255, 1);


  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
  background-color: var(--bg);

}
body.dark{
  --bg:#3D3E43;
  --text: rgba(255, 255, 255, 0.888);
}
h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: var(--text);
}




#root {
  max-width: 1440px;
  margin: 0 auto;
  text-align: center;
  width: 100vw;
  height: 100vh;

}

.container {
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  color: var(--text);
  padding: 1rem;
}

.container::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: url("/assets/img/bg_blue.png") no-repeat center bottom/cover;
  opacity: 0.3;
  z-index: -1;
}
.container.dark::before{
  background: url("/assets/img/bg_white.png") no-repeat center bottom/cover;
}
.logo {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.logo > img {
  width: 4rem;
  height: 4rem;
  aspect-ratio: 1;
}
.logo > img:last-child{
  width: 2rem;
  height: 2rem;
  border:0.5rem solid transparent;
  border-radius: 9999rem;
  cursor: pointer;
}
.logo > img:last-child:hover{
  border-radius: 9999rem;
  border:0.5rem solid rgba(0, 0, 0, 0.12);
}
h1 {
  font-family: "Inria Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 48px;
  line-height: 58px;

  text-align: left;
}

h2 {
  font-family: "Inria Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 48px;
  line-height: 58px;
  text-align: left;
}

p {
  font-family: "Inria Sans";
  font-style: normal;
  font-weight: 300;
  font-size: 25px;
  line-height: 43px;
  text-align: left;
}

.query {
  color: var(--bg);
  background-color: var(--text);
  border-radius: 20px;
  padding: 0.001rem 15px;
  width: fit-content;
  height: max-content;
  max-width: 80%;
  margin-left: auto;
  margin-right: 0;
  margin-bottom: 20px;
}

.welcome-message {
  padding: 10px 30px;
  height: 100%;
  overflow-y: scroll;
}

.faq {
  margin-top: 130px;
  margin-bottom: 20px;
}

.faq button{
  margin-right: 10px;
  margin-bottom: 10px;
  color: var(--text);
  background-color: var(--bg);
  border: 3px solid var(--text);
  border-radius: 10px;
  font-family: "Inria Sans";
  font-size: 17px;
}

.response {
  color: var(--text);
  background-color: var(--bg);
  border: 3px solid var(--text);
  border-radius: 20px;
  text-align: left;
  padding: 0.01rem 13px 15px 15px;
  margin-bottom: 30px;
  width: fit-content;
  max-width: 80%;
}
.response>p{
  word-break: break-all;
}
.thumbsup-button {
  background: url("/assets/img/thumbs_up1.svg");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}
.container.dark .thumbsup-button{
  background: url("/assets/img/thumbs_up1_dark.svg");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}
.thumbsup-button.active {
  background: url("/assets/img/thumbs_up2.svg");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}
.container.dark .thumbsup-button.active{
  background: url("/assets/img/thumbs_up2_dark.svg");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}
.thumbsdown-button {
  background: url("/assets/img/thumbs_down1.svg");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}
.container.dark .thumbsdown-button{
  background: url("/assets/img/thumbs_down1_dark.svg");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}
.thumbsdown-button.active {
  background: url("/assets/img/thumbs_down2.svg");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}
.container.dark .thumbsdown-button.active{
  background: url("/assets/img/thumbs_down2_dark.svg");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}
.copy-button {
  background: url("/assets/img/copy1.png");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}

.copy-button:active {
  background: url("/assets/img/copy2.png");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}
*:focus{
  outline-color: 4px auto transparent !important;
}
.response button {
  margin-right: 10px;
  width: 30px;
  height: 30px;
}

.response button:hover {
  opacity: 80%;
  border-color: transparent;
}

.input-area {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 9px 20px;
  justify-content: space-around;

  background: var(--bg);
  border: 4px solid var(--text);
  border-radius: 35px;
}

#question-input {
  font-family: "Inria Sans";
  font-style: normal;
  font-weight: 200;
  font-size: 25px;
  line-height: 38px;
  padding: 8px;
  color: var(--text);
  background-color: transparent;
  border: none;
  width: 100%;
}

.send-button {
  padding: 10px;
  width: 40px;
  height: 40px;

  background: url("/assets/img/sendbtn_blue.png");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;

  border: none;
  cursor: pointer;
}
.container.dark .send-button{
  background: url("/assets/img/sendbtn_white.png");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;

}
.send-button:hover {
  opacity: 80%;
}
.message-list {
  height: 100%;
  overflow-y: scroll;
}
